.judul {
  font-size: 3rem;
  text-align: center;
}
.ayat-card {
  display: flex;
  background-color: white;
  padding: 20px;
  border: 3px solid black;
  border-radius: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  width: 1000px;
}
.ayat-card article {
  display: flex;
  align-items: baseline;
}
.ayat-card article .number {
  width: 100px;
}
.ayat-card article section {
  width: 100%;
  color: black;
}
