* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.template {
  padding: 20px 0;
  background-image: url("../image/template.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
  background-repeat: no-repeat;
}

.gambar {
  padding: 10px;
  border: 2px solid black;
  margin: 1rem;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  margin: 30px 0;
}

.arab {
  font-family: me_quran;
  font-size: 3rem;
  direction: rtl;
  text-align: justify;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.tampilan {
  display: flex;
}

.error-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card {
  display: block;
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 15px 15px -5px rgba(155, 149, 149, 0.76);
}

.number {
  position: relative;
  z-index: 1000;
  text-align: center;
}
.number::after {
  background-image: url("../image/ayat.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 55px;
  height: 70px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
  content: "";
}

/* align teks */
.justify {
  text-align: justify;
}
.center {
  text-align: center;
}

@font-face {
  font-family: me_quran;
  src: url("../font/me_quran.ttf");
}
@font-face {
  font-family: KaushanScript;
  src: url("../font/KaushanScript.otf");
}
