* {
  margin: 0;
  padding: 0;
}

.arab {
  font-family: me_quran;
  font-size: 4rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.tampilan {
	display: flex;
}

.card {
  display: flex;
  background-color: greenyellow;
  width: 300px;
  margin: 10px;
  padding: 0.7rem;
  flex-direction: column;
}

@font-face {
  font-family: me_quran;
  src: url("../font/me_quran.ttf");
}
