.brand {
  position: fixed;
  width: 250px;
  right: 3%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.brand h1 {
  text-align: center;
  font-family: KaushanScript;
  font-size: 2rem;
}
.brand .quran {
  width: 100%;
  margin-bottom: -30px;
}
.pencarian {
  display: flex;
  justify-content: space-around;
}
.pencarian input {
  padding: 10px;
  border-radius: 15px;
  width: 100%;
}
.pencarian button {
  width: 50px;
  border-radius: 15px;
  margin-left: 10px;
  background-color: green;
  color: white;
}

.surah {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1000px;
}
.surah a {
  text-decoration: none;
  color: black;
}
.surah article {
  width: 300px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 15px 15px -5px rgba(155, 149, 149, 0.76);
  margin: 10px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.surah article .number {
  position: relative;
  z-index: 1000;
  text-align: center;
}
.surah article .number::after {
  background-image: url("../image/ayat.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 55px;
  height: 70px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
  content: "";
}
.surah article section {
  width: 200px;
}
.surah article section p {
  font-size: 1rem;
}

@media screen and (max-width: 1500px) {
  .brand {
    position: relative;
    right: 0;
    top: 0;
    transform: translate(0, 0);
    margin: 0 auto;
    padding: 10px 0;
  }
  .surah {
    width: 90%;
    margin: 0 auto;
  }
}
