* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  color: darkgoldenrod;
}
.gambar {
  padding: 10px;
  border: 2px solid black;
  margin: 1rem;
}
